.search_Bar {
  background-color: var(--lightblue-color);
  width: var(--min-width);
  height: 8vh;
  align-self: center;
  border-radius: 2vh;
}

.suggestion_List {
  height: calc(var(--min-width) / 2);
  max-height: calc(var(--min-width) * 2);
  background-color: yellow;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
}

.suggestion_List_Item {
  background-color: var(--lightgreen-color);
  width: calc(var(--min-width) / 2);
  height: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestion_List_Item:hover {
  cursor: pointer;
  background-color: var(--lightgreen-hover-color);
}
