:root {
  --black-color: black;
  --white-color: white;

  --red-color: rgb(255, 100, 100);
  --red-hover-color: rgb(200, 50, 50);

  --green-color: rgb(100, 255, 100);
  --green-hover-color: rgb(50, 200, 50);

  --blue-color: rgb(100, 100, 255);
  --blue-hover-color: rgb(50, 50, 200);

  --orange-color: rgb(255, 100, 0);
  --orange-hover-color: rgb(200, 50, 0);

  --min-width: 300px;
}
